
<app-navbar></app-navbar>
<section class="background-radial-gradient">
    <div class="text-center  bg-glass" >
        <div>
            <h3>"בוקר טוב "שם"</h3>
            <h1><b>איפה את\ה היום</b></h1>
            <p>נשאר עוד "0:00:0"0" לשליחות דיווח</p>
        </div>
    
        <div>
            <button class="btn btn-primary circle" >אני בבסיס </button>
        </div>
    
        <div>
            <button class="btn d-grid gap-2 col-6 mx-auto alse-loction">אני במקום אחר</button>
        </div>
    </div>  
</section>
