<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-5 fw-bold ls-tight">
          דו"ח אזרח <br />
          <span>לותיק, מילואים וחדש</span>
        </h1>
        <p class="mb-4 opacity-70 explain">
          התחבר באמצעות הת.ז 
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <div class="row">
                <!-- Full name input -->
                <div class="col-md-6 mb-4">
                  <div class="form-floating">
                    <input
                      type="text"
                      id="fullName"
                      class="form-control"
                      placeholder="שם מלא"
                    />
                  </div>
                </div>

                <!-- ID input -->
                <div class="col-md-6 mb-4">
                  <div class="form-floating">
                    <input
                      type="number"
                      id="id"
                      class="form-control"
                      placeholder="ת.ז"
                    />
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-floating mb-4">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="מייל"
                />
              </div>

              <!-- Unit input -->
              <div class="form-floating mb-4">
                <input
                  type="text"
                  id="unit"
                  class="form-control"
                  placeholder="יחידה"
                />
              </div>

              <!-- Team input -->
              <div class="form-floating mb-4">
                <input
                  type="text"
                  id="team"
                  class="form-control"
                  placeholder="צוות"
                />
              </div>

              <!-- Password input -->
              <div class="form-floating mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="סיסמא"
                />
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                להירשם
              </button>
              <p>או <a href="#">התחבר</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
